.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  padding: 0.2%;
  border-style: ridge;
  max-width: 500px;
  width: 500px;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 1);
}

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-image: red;
}
